@charset "UTF-8";

/* paleta de  cores 
| Cor            | Hex         | Uso               |
| -------------| ----------- | ------------------- |
Verde floresta | **#23301F** | Fundo, barra lateral|
Verde oliva | **#5F6C3C** | Botões secundários     |
Verde-musgo claro| **#8A8C52** | Hover e detalhes  |
Cinza azulado| **#73808A** | Textos secundários    |
Cinza escuro | **#3D4548** | Cards e inputs        |
Dourado da montanha| **#D6B85C** | Botão principal e destaque |
*/

/* propriedade: var(--nome-da-variavel); 
Ex:
color: var(--white);
    background-color: var(--forest);
    border-color: var(--cloud); */

 :root {
    --forest: #23301F;
    --olive: #5F6C3C;
    --moss: #8A8C52;
    --storm: #3D4548;
    --cloud: #73808A;
    --gold: #D6B85C;

    --white: #F4F4F2;
    --gray: #D8D8D8;
    --black: #121212;
}

@font-face {
    font-family: "poppinsex";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: "poppinssem";
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "poppinsreg";
    src: url(../fonts/Poppins-Regular.ttf);
}

*{
    font-family: "poppinsex";
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var( --forest);
    width: 100%;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--olive);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px var(--moss);

    transition: width .1s, height .1s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #3D4548 url(../imagem/tela-login.jpg) no-repeat;
    height:150px;
    background-size: cover;
    background-position: left bottom;
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}