@charset "UTF-8";

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

 Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

 Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px)*/

@media screen and (min-width:600px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top,#3D4548,#8A8C52);
    }
   
   
    section#login{
        width: 80vw;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width:70%;
    }
}

@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to top,#3D4548,#8A8C52);
    }
    
    section#login{
        width:950px;
    }

    section#login > div#imagem{
       float:left;
       width:60%;
       height:100%;
    }

    section#login > div#formulario{
        float:right;
        width: 40%;
    }
}